<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload="set()">
    <div style="
        background-color: #9ef0c4;
        height: 50px;
        width: 150%;
        margin: -10px;
        position: relative;
        left: 2px;
    " id="navBar">
        navbar content
    </div>
    <div style="
        background-color: lightblue;
        height: 24px;
        border-radius: 12px;
        width: 250px;
        position: relative;
        top: 30px;
        left: calc(50% - 125px);
        font-size: 16px;
    ">
        <span style="
            position: relative;
            left: 6px;
        ">
            <a href="/home">homepage</a>
            / <%= message[row_no].employee_id %>
        </span>
    </div>
    <div style='
        /* background-color: navy; */
        height: 750px;
        width: 100%;
        /* color: white; */
        position: relative;
        top: 50px;
    '>
        <div style='
            /* background-color: burlywood; */
            height: 250px;
            width: 250px;
            display: inline-block;
            position: relative;
            top: 0px;
            left: 0px;
        '>
            <img src="profilePic.png" height="150"><br>
        </div>
        <div style='
            /* background-color: burlywood; */
            height: 250px;
            width: 33%;
            display: inline-block;
            position: relative;
            top: -30px;
            left: 0px;
            font-size: 24px;
            font-weight: 600;
        '>
            Employee ID: <%= message[row_no].employee_id %> <br> <br>
            Name: <%= message[row_no].first_name %> <%= message[row_no].last_name %> <br> <br>
        </div>
        <div style='
            /* background-color: burlywood; */
            height: 250px;
            width: 33%;
            display: inline-block;
            position: relative;
            top: -85px;
            left: 350px;
        ' id='admin'>
            <!-- <button style='
                height: 60px;
                width: 150px;
            '>
                <img src="adminPanel.png" height="50" alt="">
                Admin Panel
            </button> -->
        </div>
        <!-- <h1>
            you(<%= message[row_no].Username %>) are logged in
        </h1> -->
    </div>
    <div style='
        /* background-color: cornflowerblue; */
        height: 100px;
        width: 400px;
        position: relative;
        top: -520px;
        font-size: 24px;
        font-weight: 600;
    '>
        Position:
        <%= message[row_no].position %>
        <form action="/" style='display: inline'>
            <input type="submit" value="Logout">
        </form>
    </div>
    <br>
    <br>
    <div style='
        /* background-color: lightgray; */
        height: 40px;
        width: 90%;
        position: relative;
        top: -650px;
        left: 5%;
    '>
        <h1 style='text-decoration: underline;'>
            Activity Records
        </h1>
        <hr>
        <div style='
            height: 200px;
            width: 89%;
            position: relative;
            left: 5.5%;
            overflow-y: scroll;
        '>
            <!-- <ul>
                <% doc_rec.forEach(function(data, i, arr){ %>
                <li><%= data.upload_datetime %></li>
                <% }); %>
            </ul> -->
        </div>
    </div>
    <script type="text/javascript">
        function set()
        {
            localStorage.setItem('currentUser', '<%= message[row_no].Username %>')
            if ('<%= isAdmin %>' == 1)
            {
                console.log('k')
                elmnt = '';
                elmnt += '';
                elmnt += '<form action=\"/admin\">'
                elmnt += '    <button style=\''
                elmnt += '        height: 60px;'
                elmnt += '        width: 150px;'
                elmnt += '    \' type=\"submit\">'
                elmnt += '        <img src=\"adminPanel.png\" height=\"50\" alt=\"\">'
                elmnt += '        Admin Panel'
                elmnt += '    </button>'
                elmnt += '</form>'
                // elmnt += '<button style=\''
                // elmnt += '    height: 60px;'
                // elmnt += '    width: 150px;'
                // elmnt += '\'>'
                // elmnt += '    <img src="adminPanel.png" height="50" alt="">'
                // elmnt += '    Admin Panel'
                // elmnt += '</button>'
                document.getElementById('admin').innerHTML = elmnt;
            }
            if ('<%= isAdmin %>' == 0)
            {
                console.log('k')
                elmnt = '';
                elmnt += '';
                elmnt += '    <div style=\''
                elmnt += '        height: 60px;'
                elmnt += '        width: 150px;'
                elmnt += '        color: white;'
                elmnt += '    \'>...'
                elmnt += '    </div>'
                // elmnt += '<button style=\''
                // elmnt += '    height: 60px;'
                // elmnt += '    width: 150px;'
                // elmnt += '\'>'
                // elmnt += '    <img src="adminPanel.png" height="50" alt="">'
                // elmnt += '    Admin Panel'
                // elmnt += '</button>'
                document.getElementById('admin').innerHTML = elmnt;
            }
        }
    </script>
</body>
</html>
